:root {
    --text-color: #000000;
    --background-color: #fdfffb;
    --background-color2: #ffffff;
    --background-color3: #e9e9e9;
    --background-color4: #c9c9c9;
    --border-color: rgb(171, 178, 191);
    --color-theme: #61d665;

}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #e7e7e7;
        --background-color: #242424;
        --background-color2: #181818;
        --background-color3: #383838;
        --background-color4: #2c2c2c;
        --color-theme: #2a8b2d;
        --border-color: rgb(171, 178, 191);
        --shadow-s: inset 0 1px 2px #ffffff30, /* top highlight */ 0 1px 2px #00000030, 0 2px 4px #00000015; /* soft shadow */
        --shadow-m: inset 0 1px 2px #ffffff50, /* top highlight */ 0 2px 4px #00000030, 0 4px 8px #00000015; /* soft shadow */
        --shadow-l: inset 0 1px 2px #ffffff70, /* top highlight */ 0 4px 6px #00000030, 0 6px 10px #00000015; /* soft shadow */

    }
}

header {
    background-color: var(--background-color2);
    color: var(--text-color);
    box-shadow: var(--shadow-m);
    border-radius: 0 0 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

p {
    display: inline;
    font-size: clamp(18px, 1.5vw, 20px);
    background-color: var(--background-color4);
    border-color: var(--border-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    width: fit-content;
}


.logo_top {
    width: clamp(150px, 12vw, 300px);
    height: auto;
    margin-bottom: clamp(20px, 5dvh, 50px);
}

button {
    background-color: var(--color-theme);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    width: fit-content;
    margin: auto;
    font-size: clamp(16px, 1.2vw, 18px);
    cursor: pointer;
    box-shadow: var(--shadow-s);
    transition: filter 0.25s, transform 0.2s;
    display: inline;
    margin-top: clamp(100px, 50dvh, 15vw);
}

button:hover {
    transform: translateY(-2px);
}

button:active{
    transform: translateY(-2px) scale(1.05);
}