<!DOCTYPE html>

<html lang="fr">
    <head>
        <script type="text/javascript" src="https://livejs.com/live.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boutique en ligne</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}"> 
    </head>

    <body>
        <header>
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo de la boutique" class="logo_top">
        </header>
        <button>accéder a l'eboutique</button>
    </body>
</html>